<main class="container">
  <h1>{{ titulo }}</h1>

  <h2>hola</h2>
  <!--Formulario-->
  <h1>Reactive form</h1>
  <form class="row g-3" [formGroup]="contactForm">
    <div class="input-group">
      <span class="input-group-text">nombre</span>
      <input
        type="text"
        [ngClass]="contactForm.get('name')?.valid ? 'is-valid' : 'is-invalid'"
        class="form-control"
        id="nombre"
        formControlName="nombre"
      />
    </div>
    <div>{{ nombreErrors | json }}</div>

    <div class="input-group">
      <span class="input-group-text">email</span>
      <input
        type="text"
        [ngClass]="{
          'is-invalid': 'emailControlIsinvalid',
          'is-valid': 'emailControlIsValid'
        }"
        class="form-control"
        formControlName="email"
        id="email"
      />
    </div>
    <div>{{ emailErrors | json }}</div>
    <div
      class="form-text"
      *ngIf="emailControl?.touched"
      class="form-text text-danger"
    >
      @if (emailControl?.hasError('requiered')) { campo obligatorio } @else if
      (emailControl?.hasError('email')) { email inválido }
    </div>

    <div class="input-group">
      <span class="input-group-text">mensaje</span>
      <textarea
        formControlName="mensaje"
        id="mensaje"
        [ngClass]="contactForm.get('mensaje')?.valid ? 'is-valid' : 'is-invalid'"
        class="form-control"
      ></textarea>
    </div>
    <div>{{ mensajeErrors | json }}</div>
  </form>

  <div>{{ contactForm.value | json }}</div>
</main>
