
<app-header></app-header>
<app-home></app-home>


<main class="container">

  <hr>
<h2>CLASS</h2>

<h5>Con 2 valores</h5>
<!-- PIPE: Ejemplo de clase como variable, importante la doble comilla-->
<button [ngClass]="'success'" >Confirmar pago</button>
  <!-- PIPE: Ejemplo de clase normal-->
<button ngClass="error">Cancelar pago</button>

<!-- PIPE: Ejemplo de clase como variable + IF-->
<p [ngClass]="confirmar ? 'success' : 'error'">OK</p>

<h5>Con 3 valores</h5>
<!-- PIPE: Ejemplo de clase como variable, importante la doble comilla-->
<button [ngClass]="'success'">Confirmar pago</button>
<!-- PIPE: Ejemplo de clase como variable, importante la doble comilla-->
<button [ngClass]="'later'" >Pagar después</button>
<!-- PIPE: Ejemplo de clase normal-->
<button ngClass="error">Cancelar pago</button>

<h5>Tipo JSON</h5>
<!-- PIPE: Ejemplo de clase como JSON-->
  <p [ngClass]="{
    success:confirmar === 1,
    later:confirmar === 2,
    error:confirmar === 3
  }">OK</p>

<h5>Condición booleana</h5>
  <!-- Ejemplo de clase con una sola condición-->
  <p [class.success]="confirmar">Pago aceptado</p>
  <p [class.later]="confirmar">Pago pausado</p>
  <p [class.error]="confirmar">Pago cancelado</p>

  <hr>
<h2>STYLE</h2>

<h5>ngStyle con negación</h5>
  <!-- Ejemplo de clase con una sola condición-->
  <p [ngStyle]="{
    fontSize: !confirmar ? 'x-large' : 'small'
  }">Términos y condiciones...</p>

<h5>style con condición</h5>
<!-- Ejemplo de clase con una sola condición-->
<p [style.success]="confirmar">Términos y condiciones...</p>

<hr>
<h2>PIPE PROPIA</h2>
<p appResaltado>Ejemplo de Pipe que recibe un HTML</p>
<hr>

<h2>DIRECTIVAS</h2>

<h5>ngFor hasta Angular 16</h5>
  <table>
    <tbody>
      <tr *ngFor="let estudiante of estudiantes; let i = index">
        <td>{{ i }}</td>
        <td>{{estudiante}}</td>
      </tr>
    </tbody>
  </table>

  <h5>ngFor Angular 17 o superior</h5>
  @for (estudiante of estudiantes; track $index) {
  <tr>
    <td>{{ $index }}</td>
    <td>{{estudiante}}</td>
  </tr>
}
<h5>ngIF hasta Angular 16</h5>
<p *ngIf="cargando">Loading...</p>

<h5>ngIF + if else hasta Angular 16</h5>
<p *ngIf="cargando; else ejemploElseIf">Loading...</p>
<ng-template #ejemploElseIf>
  <p>¡cargado!</p>
</ng-template>

<h5>ngIF Angular 17 o superior</h5>
@if (cargando) {
<p>Loading...</p>
} @else {
  <p>¡cargado!</p>
}

<hr>
<h2>ngSwitch</h2>
<div [ngSwitch]="cargando">
  <p *ngSwitchCase="true">Ejemplo de ngSwitch</p>
  <p *ngSwitchCase="false">ngSwitch ejemplo</p>
</div>

</main>
<app-footer></app-footer>
<router-outlet></router-outlet>
